.header-image {
  width: 100%;
  height: 300px;
  background: url("Assets/header-image.jpg");
  background-size: cover;
}

.header-logo {
}

.quote {
  margin-top: 10px;
  font-style: italic;
}

.container {
  color: #0d7515;
}

#mc_embed_signup {
  background: #F8F9FA;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
}